.color-dots {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.brickColors,
.backgroundShades,
.components,
.fonts,
.textHeading {
  display: grid;
  margin: 2rem;
  gap: 0.5rem;
  grid-template-columns: 1fr repeat(3, auto);
}

.redLight {
  grid-column: 2/3;
  composes: color-dots;
  background: var(--color-brick-red-light);
}

.greenLight {
  composes: color-dots;
  background: var(--color-brick-green-light);
}

.blueLight {
  composes: color-dots;
  background: var(--color-brick-blue-light);
}

.redDark {
  grid-column: 2/3;
  composes: color-dots;
  background: var(--color-brick-red-dark);
}

.greenDark {
  composes: color-dots;
  background: var(--color-brick-green-dark);
}

.blueDark {
  composes: color-dots;
  background: var(--color-brick-blue-dark);
}

.backgroundLight {
  grid-column: 2/3;
  composes: color-dots;
  background: var(--color-background-light);
}

.background {
  composes: color-dots;
  background: var(--color-background);
}

.backgroundDark {
  composes: color-dots;
  background: var(--color-background-dark);
}

.colorButton {
  grid-column: 2/3;
  composes: color-dots;
  background: var(--color-button);
}

.colorTextPrimary {
  composes: color-dots;
  background: var(--color-text-primary);
  color: grey;
}

.colorTextSecondary {
  composes: color-dots;
  background: var(--color-text-secondary);
  color: grey;
}

.logo {
  padding: 0 2rem;
  font-family: ClickyBricks, sans-serif;
}

.text {
  padding: 0 2rem;
  font-family: Atma, sans-serif;
}

.textHeading {
  display: grid;
  gap: 0.5rem;
}

.headline1 {
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: Atma, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.headline2 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: Atma, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

.headline3 {
  grid-row: 3/4;
  grid-column: 2/3;
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.plainText {
  grid-row: 4/5;
  grid-column: 2/3;
  font-family: Atma, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
