.color-dots {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.brickColors,
.backgroundShades {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem;
  grid-template-columns: 1fr auto auto auto;
}

.redLight {
  grid-column: 2/3;
  composes: color-dots;
  background: #f21905;
}

.greenLight {
  composes: color-dots;
  background: #04bf45;
}

.blueLight {
  composes: color-dots;
  background: #4590bf;
}

.redDark {
  grid-column: 2/3;
  composes: color-dots;
  background: #8c0327;
}

.greenDark {
  composes: color-dots;
  background: #078c03;
}

.blueDark {
  composes: color-dots;
  background: #0367a6;
}

.backgroundLight {
  grid-column: 2/3;
  composes: color-dots;
  background: #ffda21;
}

.background {
  composes: color-dots;
  background: #f2cb07;
}

.backgroundDark {
  composes: color-dots;
  background: #f2c12e;
}

.colorButton {
  grid-column: 2/3;
  composes: color-dots;
  background: #97bf04;
}

.colorTextPrimary {
  composes: color-dots;
  background: #595959;
  color: grey;
}

.colorTextSecondary {
  composes: color-dots;
  background: #0d0d0d;
  color: grey;
}
