.container {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.footer {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  width: 100vw;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon {
  fill: var(--color-brick-red-dark);
}
