.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  place-items: center;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.arrowBack {
  cursor: pointer;
}

.heading {
  margin-bottom: 5rem;
}

.searchForm {
  display: grid;
  justify-items: center;
  margin-top: 1rem;
}

.textInput {
  composes: textinput from global;
}

.button {
  composes: button from global;
}

.button:active {
  box-shadow: var(--shadow-inside);
}

.message {
  font-family: Atma, sans-serif;
  font-size: 1.25rem;
}
