@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: ClickyBricks;
  src: url("../assets/fonts/ClickyBricks-xgZj.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* BRICK COLORS */
  --color-brick-red-light: #f21905;
  --color-brick-green-light: #04bf45;
  --color-brick-blue-light: #4590bf;
  --color-brick-red-dark: #8c0327;
  --color-brick-green-dark: #078c03;
  --color-brick-blue-dark: #0367a6;

  /* BACKGROUND COLORS */
  --color-background-light: #ffda21;
  --color-background: #f2cb07;
  --color-background-dark: #f2c12e;

  /* BUTTON COLORS */
  --color-button: #97bf04;

  /* TEXT COLORS */
  --color-text-primary: #0d0d0d;
  --color-text-secondary: #595959;
}

body {
  margin: 0;
  background: #f2d43d;
  font-family: Atma, sans-serif;
}

h1 {
  font-family: Atma, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-family: Atma, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.button {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 1.3rem;
  background: var(--color-button);
  border: none;
  box-shadow: 1px 5px 5px rgba(0 0 0 / 50%);
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
