@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: ClickyBricks;
  src: url("../assets/fonts/ClickyBricks-xgZj.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
