.loginForm {
  display: grid;
  justify-items: center;
}

.textInput {
  composes: textInput from global;
}

.button {
  composes: button from global;
}

.button:active {
  box-shadow: inset 1px 5px 5px rgba(0 0 0 / 25%);
}
