.loginForm {
  display: grid;
  justify-items: center;
}

.textInput {
  width: 12rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid var(--color-text-primary) 2px;
  background: var(--color-background-light);
}

.button {
  composes: button from global;
}

.button:active {
  box-shadow: inset 1px 5px 5px rgba(0 0 0 / 25%);
}
