.loginForm {
  display: grid;
  justify-items: center;
}

.textInput {
  width: 12rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid var(--color-text-primary) 2px;
  background: var(--color-background-light);
}

.button {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 1.3rem;
  background: var(--color-button);
  border: none;
  box-shadow: 1px 5px 5px rgba(0 0 0 / 50%);
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.button:active {
  box-shadow: inset 1px 5px 5px rgba(0 0 0 / 25%);
}
