.container {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

.menuButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 80%;
  height: 7.5rem;
  margin: 0.5em 10%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: none;
  background: var(--color-background);
  box-shadow: var(--shadow-cards);
  color: inherit;
  text-decoration: none;
}

.sets,
.ideas {
  height: 6.5rem;
  object-fit: contain;
}

.bricks {
  width: 8rem;
  object-fit: contain;
}

.menuButton:hover {
  background: var(--color-background-light);
}

.footer {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  width: 100vw;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.text {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5rem;
  margin: 0.25rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}
