.container {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  padding-bottom: 4rem;
}

.heading {
  margin-bottom: 2rem;
}

.card {
  position: relative;
  display: grid;
  width: 90%;
  gap: 0.5rem;
  place-items: center;
  height: auto;
  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: var(--shadow-cards);
  background-color: white;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.text {
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 3;
}

.image {
  height: 9rem;
  object-fit: contain;
  padding: 0.5rem;
}


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 5rem;
  place-items: center;
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--gradient-footer);
  z-index: 4;
}

.arrowBack {
  cursor: pointer;
}

